body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;

}

header {
    position: sticky;
    display: flex;
    align-items: left;
    top: 0;
    color: whitesmoke;
    background-color: #282828;
}

ul {
    list-style-type: none;
    padding: 25px;
}

li {
    display: inline;
}

.logo {
    fontsize: 18px:
    font-weight: 700;
}

.icon {
    width: 25px;
}

h1 {
    fontsize: 40pc;
    font-weight: 400;
    X-margin: 25px;
    Y-margin: 30px;
}

.caption {
    X-margin: 25px;
    Y-margin: 0px;
}

.item-img {
    width: 100%;
}